{% extends "layout.html" %}

{% block title %}
    Compare yourself!
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="./static/styles.css" />
<div class="row">
   <div class="column">
   <a href="{{ url_for('questions') }}" class="btn btn-default">Give me 10 questions!</a>
   <a href="{{ url_for('index') }}" class="btn btn-default">Return to index!</a>
   </div>
   <div class="column">
        <table class="table table-bordered">
            <thead>
                <th>You have correct</th>
                <th>Your CounTrivia Score is  <span title="Total correct / Total answered * 100 * Total correct (number has been rounded up)">(?)</span></th>
                <th>{{ data[1]["name"] }} total correct</th>
                <th>{{ data[1]["name"] }} CounTrivia Score <span title="Total correct / Total answered * 100 * Total correct (number has been rounded up)">(?)</span> </th>
            </thead>
            <tbody>
                <tr>
                <td>{{ data[0]["correct"] }} (Place on leaderboard {{data[0]["rank_nr"]}} )</td>
                <td>{{ data[0]["score"] }} (Place on leaderboard {{data[0]["rank_score"]}} )</td>
                <td>{{ data[1]["correct"]}} (Place on leaderboard {{data[1]["rank_nr"]}} )</td>
                <td>{{ data[1]["score"] }} (Place on leaderboard {{data[1]["rank_score"]}} )</td>
                </tr>
            </tbody>
         </table>
    </div>
{% endblock %}