{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <form action='/questions' method='POST'>
        {% for i in range(9) %}
          <li>
            <h2>{{ dbquestions[i]['question'] }} </h2>
            <!--  New ul with class of 'courses' -->
            <ul class='all_answers'>
                {% for x in dbquestions[i]['all_answers'] %}
                    <input type='radio' value='{{x}}' name='{{i}}' />{{x}}
                {% endfor %}
            </ul>
         </li>
        {% endfor %}
        <input type="submit" value="submit" />
    </form
{% endblock %}