{% extends "layout.html" %}

{% block title %}
    Top 10
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="./static/styles.css" />
    <a href="{{ url_for('index') }}" class="btn btn-default">Ga terug naar index!</a>
        <table class="table table-bordered">
            <thead>
                <th>Top 10 aantal goed</th>
                <th>Top 10 CounTrivia Score</th>
            </thead>
            <tbody>
                <tr>
                    <td>1e {{ top10_lijst[0]["username"] }}  {{ top10_lijst[0]["vragen_goed"] }}</td>
                    <td>1e {{ top10_score[0]["username"] }}  {{ top10_score[0]["user_score"] }} </td>

                </tr>
                <tr>
                    <td> 2e {{ top10_lijst[1]["username"] }} {{ top10_lijst[1]["vragen_goed"] }}</td>
                    <td> 2e {{ top10_score[1]["username"] }} {{ top10_score[1]["user_score"] }}</td>
                </tr>
                <tr>
                    <td> 3e {{ top10_lijst[2]["username"] }} {{ top10_lijst[2]["vragen_goed"] }}</td>
                    <td> 3e {{ top10_score[2]["username"] }} {{ top10_score[2]["user_score"] }}</td>
                </tr>
                <tr>
                    <td> 4e {{ top10_lijst[3]["username"] }} {{ top10_lijst[3]["vragen_goed"] }}</td>
                    <td> 4e {{ top10_score[3]["username"] }} {{ top10_score[3]["user_score"] }}</td>
                </tr>
                 <tr>
                    <td>5e {{ top10_lijst[4]["username"] }}  {{ top10_lijst[4]["vragen_goed"] }}</td>
                    <td>5e {{ top10_score[4]["username"] }}  {{ top10_score[4]["user_score"] }} </td>

                </tr>
                 <tr>
                    <td>6e {{ top10_lijst[5]["username"] }}  {{ top10_lijst[5]["vragen_goed"] }}</td>
                    <td>6e {{ top10_score[5]["username"] }}  {{ top10_score[5]["user_score"] }} </td>

                </tr>
                 <tr>
                    <td>7e {{ top10_lijst[6]["username"] }}  {{ top10_lijst[6]["vragen_goed"] }}</td>
                    <td>7e {{ top10_score[6]["username"] }}  {{ top10_score[6]["user_score"] }} </td>

                </tr>
                 <tr>
                    <td>8e {{ top10_lijst[7]["username"] }}  {{ top10_lijst[7]["vragen_goed"] }}</td>
                    <td>8e {{ top10_score[7]["username"] }}  {{ top10_score[7]["user_score"] }} </td>
                </tr>
                 <tr>
                    <td>9e {{ top10_lijst[8]["username"] }}  {{ top10_lijst[8]["vragen_goed"] }}</td>
                    <td>9e {{ top10_score[8]["username"] }}  {{ top10_score[8]["user_score"] }} </td>

                </tr>
                 <tr>
                    <td>10e {{ top10_lijst[9]["username"] }}  {{ top10_lijst[9]["vragen_goed"] }}</td>
                    <td>10e {{ top10_score[9]["username"] }}  {{ top10_score[9]["user_score"] }} </td>

                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}