{% extends "layout.html" %}

{% block title %}
    Top 10
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="./static/styles.css" />
    <a href="{{ url_for('index') }}" class="btn btn-default">Ga terug naar index!</a>
        <table class="table table-bordered">
            <thead>
                <th>Top 10 aantal goed</th>
                <th>Top 10 Superscore C</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ top10_lijst }}</td>
                    <td>{{ test }}</td>

                </tr>


            </tbody>
        </table>
    </form>
{% endblock %}