{% extends "layout.html" %}

{% block title %}
    Top 10
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="./static/styles.css" />
    <a href="{{ url_for('index') }}" class="btn btn-default">Ga terug naar index!</a>
        <table class="table table-bordered">
            <thead>
                <th>Top 10 aantal goed</th>
                <th>Top 10 Superscore C</th>
            </thead>
            <tbody>
                <tr>
                    <td>1e {{ top10_lijst[0]["username"] }}  {{ top10_lijst[0]["vragen_goed"] }}</td>
                    <td>1e {{ top10_score[0]["username"] }}  {{ top10_score[0]["user_score"] }} </td>

                </tr>
                <tr>
                    <td> 2e {{ top10_lijst[1]["username"] }} {{ top10_lijst[1]["vragen_goed"] }}</td>
                    <td> 2e {{ top10_score[1]["username"] }} {{ top10_score[1]["user_score"] }}</td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}